/* css/coins.css */
.coin {
  position: fixed;
  top: -60px; /* mulai dari atas layar */
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 0; /* biar di belakang konten */
  animation: fall 5s linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(110vh); /* jatuh sampai bawah */
    opacity: 0.7;
  }
}
